html,
body {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
.menu {
	padding: 0;
	width: 100%;
	text-align: center;
}
.menu__item {
	display: inline-block;
	margin: 0 10px;
}