* {
	box-sizing: border-box;
}
html,
body,
h1 {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Bague Sans", sans-serif;
	background: #000000;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.menu {
	padding: 0;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
}
.menu__item {
	display: inline-block;
	margin: 0 10px;
	font-weight: bold;
}
.menu__link {
	color: #000000;
}
.ul-back {
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	z-index: -1;
	background: rgba(255,255,255,.6);
}
section {
	padding-top: 50px;
	height: 1000px;
	width: 100%;
	text-align: center;
	color: #ffffff;
}
.title {
	font-size: 40px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.link-get-call {
	text-transform: uppercase;
	color: #ffffff;
	font-weight: bold;
}
.link-download {
	display: block;
	margin: 30px auto;
	padding: 7px 0;
	background: #ffffff;
	color: #000000;
	border-radius: 20px;
	width: 150px;
	font-weight: bold;
}
.content-block {

}
.section-back {
	background: url(../images/server.png) ;
	background-size: cover;
	background-position-x: center;
	filter: blur(5px);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}