html,
body {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
.menu {
	padding: 0;
	width: 100%;
	text-align: center;
}
.menu__item {
	display: inline-block;
	margin: 0 10px;
}
section {
	background: url(../images/server-sale1.jpg) ;
	background-size: cover;
	background-position-x: center;
	height: 1000px;
	width: 100%;
}